body{
	background-image: url(img/img/wp1904521.png)
}
.user-logo-container{
	height: 300px;
	display: flex;
	justify-content: center;
	align-items: center;
}
.user-logo{
	width: 450px;
	border: 1px;
	border-radius:5px ;
}
.logos{
	padding-top: 40px;
	padding-bottom: 40px;
}
